header{
	min-height: 100vh;
	padding: 15vh 15vw;
}

header h1{
	padding-top: 30vh;
}

section{
	padding: 15vh 15vw;
}

footer{
	padding: 5vh 15vw;
}

.dropdown{
	display: inline-block;
	padding: 10px 10px;
}

@media screen and (min-width: 768px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}