body{
	font-family: Avenir;
}

nav{
	background: rgba(204, 204, 204, 0.4);
}

@media screen and (min-width: 768px) {
	header{
		min-height: 100vh;
		padding: 20vh 10vw;
		background: url("./pic/background.jpg") no-repeat center center fixed; 
	  	-webkit-background-size: cover;
	  	-moz-background-size: cover;
		 -o-background-size: cover;
		background-size: cover;
	} 
}


@media screen and (max-width: 768px) {
	header{
		min-height: 100vh;
		padding: 20vh 10vw;
		background: url("./pic/background_small.jpg") fixed; 
	}
}

header h1{
	padding-top: 30vh;
	font-size: 4rem;
}

section{
	padding: 15vh 15vw;
	min-height: 90vh;
	text-align: center;
	font-size: 25px;
}


#intention{
	padding: 5vh 5vw;
}

#carouselExampleIndicators{
	padding: 15vh 10vw;
	font-size: 1.5rem;
}


#contact{
	padding: 5vh 15vw;
	background: rgb(6, 177, 169);
}

#contact p{
	margin-top: 5vh;
}

#copyright{
	padding: 5vh 15vw;
	background: rgb(243, 141, 0);
}

.dropdown{
	display: inline-block;
	margin: 20px 2vw;
	font-size: 1.5rem;
	font-weight: 500;
	color: rgb(243, 141, 0);
}
/*
.dropdown button{
	background-color: rgb(243, 141, 0);
	border: none;
}*/

@media screen and (min-width: 768px) {
	.dropdown:hover>.dropdown-menu {
		display: block;
	}
}